@import "tailwindcss";

:root {
  --background: #f3f0f0;
  --foreground: #191818;
  --foreground-button: #e2dddd7c;
  --input: #fdf8f8;
  --muted: #1a1a1a;
  --border: #e5e3e3;
  --muted-foreground: #191818;
  --card: #f3eded;
  --card-foreground: #f6f3f3;
  --font-size-base: 1rem;
  --line-height-base: 1.5;
  --font-weight-base: 400;
}

:root[data-theme="dark"] {
  --background: #1d1e21;
  --foreground: #ffffff;
  --foreground-button: #ada6a611;
  --input: #3637398f;
  --muted: #1a1a1a;
  --border: #2e2e2e;
  --muted-foreground: #ffffff;
  --card: #1a1a1a;
  --card-foreground: #ffffff;
  --font-size-base: 1rem;
  --line-height-base: 1.5;
  --font-weight-base: 400;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.bg-input {
  background-color: var(--input);
}

.action-button {
  background-color: var(--background);
}

.hover\:action-button-hover:hover {
  background-color: var(--foreground-button);
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
}

.border-border {
  border: 1px solid var(--border);
}

a {
  color: var(--foreground);
  text-decoration: none;
}

.desktop-only {
  display: none;
}

@media (min-width: 768px) {
  .desktop-only {
    display: block;
  }
}

.tablet-only {
  display: none;
}

@media (min-width: 768px) {
  .tablet-only {
    display: block;
  }
}

.mobile-only {
  display: none;
}

@media (min-width: 768px) {
  .mobile-only {
    display: block;
  }
}

textarea {
  scrollbar-width: none;
  outline: none;
  resize: none;
  box-shadow: 0 0 0 4px rgba(#1a1a1a, 0.3);
  width: 100%;
  min-height: 60px;
  max-height: 500px;
}
